*{
    box-sizing: border-box;
}

html, body{
    background-image: url("../images/bg.png");
    background-size: cover;
    width:100%;
    height:100%;
    min-height: 100vh;
    margin:0;
    padding:0;
    font-family: 'Sigmar One', cursive;
}


.btn{
    background: goldenrod;
    border: 4px solid maroon;
    border-radius: 1rem;
}

.fas, .fa{
    color: white;
}

.modal-body, .modal-header{
    font-weight: bold;
}

.modal-header h5{
    font-size: 2rem;
}

.modal-content{
    font-family: 'Baloo Chettan', cursive;
    background: goldenrod;
    border-radius: 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    -webkit-text-stroke-color:maroon;
    -webkit-text-stroke-width: 0.5px; 
    box-shadow: 5px 5px 5px 5px maroon;
}

.modal-dialog{
    max-width:700px;
}

.score, .target, .winloss{
    color: goldenrod;
    font-weight: bold;
    -webkit-text-stroke-color:maroon;
    -webkit-text-stroke-width: 2.00px; 
}

.btn-sound{
    margin-right:20px;
}

.game-name{
    margin-top:20px;
}

.game-name span{
    background-color: dimgray;
    color:white;
    padding:5px;
    margin:2px;
    display: inline-block;
}

.top-header{
    padding-top:28px;
}

#crystals img{
    width:120px;
    border-bottom: 10px ridge coral;
    margin-right:10px;
}

.crystal-container{
    padding-top:30px;
}

.winloss-container{
    padding-top: 60px;
    position: relative;
}


#crystals img:hover{
    cursor: pointer;
}

.msg-container{
    padding-top:10px;
}

.msg{
    color: indigo;
    font-weight: bold;
    -webkit-text-stroke-color:beige;
    -webkit-text-stroke-width: 2.00px; 
}

.winloss-container img{
    width:200px;
}

#winBalloon{
    position: absolute;
    bottom:0px;
    left:50px;
    display: none;
}

#play{
    padding:10px;
    color: maroon;
    font-size: 20px;
}

#btn-play{
    visibility: hidden;
}

#btn-play:hover{
    background-color: lightsalmon;
}

/* .col-md-4, .col-md-12{
    border:1px solid black;
} */

